body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.cleanAlpha {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
  background: red !important;
  color: white !important;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
td{
  min-width: 100px;
}

#nodeInfoInGraphical {
  width: 400px;
  border: 2px  solid rgba(0,0,0,0.5);
  border-radius: 4px; padding: 8px;
}